<div class="blog-form">
<h1>Blog Create</h1>

<form action="/blogs" method="POST">

  <div class="form-control">
    <label for="title">Title</label>
    <input name='title' type="text">
  </div>
  <div class="form-control">
    <label for="intro">Intro</label>
    <input name="intro" type="text">
  </div>
  <div class="form-control">
    <label for="body">Body</label>
    <textarea name="body" type="text"></textarea>
  </div>
  <div class="form-control">
    <button type="submit" class="blog-create-btn">Create</button>
  </div>

  </form>
</div>