<nav>
  <h1>
    <a href="/"> Bloggy</a>
  </h1>
  <div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/blogs/create">Create Blog</a>
  </div>
</nav>