
    <h1>Home</h1>
  <% if(blogs.length) {%>
    <% blogs.forEach(blog=>{ %>
      <div class="blog-card">
          <a href='/blogs/<%= blog._id %>'>
          <h2><%= blog.title %></h2>
        </a>
          <p><%= blog.intro %></p>
          <form action="/blogs/<%= blog._id %>/delete">
            <button type="submit" class="blog-delete-btn">Delete</button>
          </form>
        </div>
      <% }) %>
      <% }else{ %>
        <h3>There is no Blog</h3>
<% } %>